<div class="container text-center">

<div class= "row">
    <h1>Eat-Da-Burger</h1>
  

    <img src="/assets/img/giphy.gif" height=275px alt="Burger Image">

    <form id="addburger" class="new-burger">
        
        <div>
            <textarea type="text" id="burgerinput" name="burger_name"> </textarea>
        </div>
        <br>

        <button type="submit" class="btn btn-warning">Submit</button>

        <p>Enter a burger you want to eat then click the "submit" button</p>

    </form>
    



    
    
    <div class= "col-md-6">
        <div id="not-devoured">
        <h4>BURGERS</h4>    
        <ul>
         {{#each burgers}}
            {{#unless this.devoured}}
            {{> burger/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>
    </div>


    <div class = "col-md-6">
        <div id = "devoured">
        
            <h4>DEVOURED</h4>
        {{#each burgers}}
            {{#if this.devoured}}
            <li id="devoured" class="order">
                <p>{{this.id}}. {{this.burger_name}}</p>
            </li>
            {{/if}}
        {{/each}}
    </div>
    </div>

</div>
</div>
</div>





