<div class="container text-center">

    <h2>Eat-Da-Burger</h2>

    <img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" height=300px alt="Burger Image">

    <form id="addburger" class="new-burger">
        
        <div>
            <textarea type="text" id="burgerinput" name="burger_name"> </textarea>
        </div>
        <br>

        <button type="submit">Submit</button>

        <p>Enter a burger you want to eat then click the "submit" button</p>

    </form>

</div>

</div>

</div>


<div class = "row">
    <div class = "col-xs-6 col-md-4">
        <div id="not-devoured">
        <ul>
         {{#each burgers}}
            {{#unless this.devoured}}
            {{> burger/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>
    </div>


    

    <div class="col-xs-6 col-md-4">
        <div id = "devoured">
        {{#each burgers}}
            {{#if this.devoured}}
            <li id="devoured" class="order">
                <p>{{this.id}}. {{this.burger_name}}</p>
            </li>
            {{/if}}
        {{/each}}
    </div>
    </div>
</div>





