body{
 background-color: #333;

}


.order{
    list-style: none;

}

#devoured{
    color:#ffff80;
    
}

#not-devoured{
     color:  #00cc00;
   
}

h1{
    text-align: center;
    color: white;
}

.row{
    padding-top: 25px;
   
   
}

.change-burger{
    color: black;
}

#burgerinput{
    width: 200px;
}

#addburger p {
    color: white;
    font-size: 11px;
}

ul{
    padding: 0px;
}

h4{
    font-weight: bolder;
}

.change-burger{
    color:  #00cc00;
    font-weight: bold;
}
