body{
 background-color: #333;

}

h2{
    color: white;
}

.order{
    list-style: none;

}

#devoured{
    color:gray;
}

#not-devoured{
    color: white;
}

h1{
    text-align: center;
}

.row{
    padding-top: 35px;
   
}

.change-burger{
    color: black;
}

#burgerinput{
    width: 250px;
}

